librosa==0.11.0
matplotlib==3.10.3
numpy==2.4.3
pandas==2.3.2
pyarrow==20.0.0
pydub==0.25.1
scipy==1.16.0
seaborn==0.13.2
sklearn==1.7.0
soundfile==0.13.1
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
tqdm==4.67.1
transformers==4.57.6
